body {
  font-family: Arial, sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #fbfbfb;
}

p,
h1,
h2,
h3 {
  color: rgb(66, 65, 65);
}

header {
  h1 {
    text-align: center;
  }
}

ul {
  list-style: none;
  padding: 0;
}

button {
  border: none;
  padding: 4px 6px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  // @media (max-width: 600px) {
  //   padding: 6px 8px;
  // }
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  // align-items: center;
  .popup {
    background-color: #ffffff;
    height: 135px;
    margin-top: 100px;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    h3 {
      text-align: center;
    }
    input {
      border: 1px solid #ccc;
      border-radius: 4px;
      height: 25px;
      margin-bottom: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  }
}

.lists-container {
  margin: 0 auto;
  min-width: 300px;
  padding: 20px;
  ul {
    list-style: none;
    padding: 0;
    li {
      margin-bottom: 5px;
    }
  }
}

.list-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.list-item {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  // justify-content: space-between;
  gap: 12px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  p {
    margin: 0;
  }
}

.btn-div {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.add-new-btn {
  background-color: #4caf50;
  color: white;
  @media (max-width: 600px) and (max-height: 900px) {
    padding: 8px 10px;
    position: fixed;
    top: 90%;
    left: 80%;
  }
}

.add-new-btn:hover {
  background-color: #3d9141;
}

.add-btn {
  background-color: #4caf50;
  color: white;
}

.add-btn:hover {
  background-color: #3d9141;
}

.close-btn {
  background-color: #f44336;
  color: white;
}

.close-btn:hover {
  background-color: #cd392f;
}

.done-btn {
  background-color: #4caf50;
  color: white;
}

.done-btn:hover {
  background-color: #3d9141;
}

.not-done-btn {
  background-color: #dfdd53;
  color: black;
}

.not-done-btn:hover {
  background-color: #bbb947;
}

.remove-btn {
  background-color: #f44336;
  color: white;
}

.remove-btn:hover {
  background-color: #cd392f;
}

.icon {
  font-size: 24px;
  @media (max-width: 600px) {
    font-size: 30px;
  }
}
